* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: coral;
  color: white;
}

/* Style the header */
header {
  background-color: lightslategray;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: beige;
  outline-style: solid;
  outline-color: beige;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: lightgreen ;
  padding: 20px;
  color: black;
  outline-style: solid;
  outline-color: beige;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: coral;
  padding: 10px;
  outline-style: solid;
  outline-color: beige;
}

/* Style the footer */
footer {
  background-color: lightslategray;
  padding: 10px;
  text-align: center;
  color: beige;
  outline-style: solid;
  outline-color: beige;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

h2 {
  color: white;
  animation-name: text;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes text {
  0% {color: white;}
  25% {color: lightgreen;}
  50% {color: lightslategray;}
  75% {color: lightgreen;}
  100%{color: white;}
}
